* {
    box-sizing: border-box;
}

:root {
    --ttt-background: #20262F;
    --ttt-stroke: #FFFFFF;
}

body {
    background-color: var(--ttt-background);
    margin: 0;
    color: var(--ttt-stroke);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    position: absolute;
    width: 50%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#board {
    background-color: var(--ttt-stroke);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
}

.tile {
    display: block;
    background-color: var(--ttt-background);
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.cross {
    background-image: url(./media/cross.png);
}
.naught {
    background-image: url(./media/naught.png);
}

.cross, .naught {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#log {
    position: absolute;
    background-color: #0000009F;
    max-width: 300px;
    width: 30%;
    height: 100vh;
    padding: 16px;
    z-index: 100;
}

.next-loss {
    opacity: 0.5;
}

.fade {
    animation: fading;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes fading {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1.0;
    }
}

@media (max-width: 1000px) {
    #log {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        max-width: none;
        max-height: 200px;
        height: auto;
        transform: translateY(-100%);
        overflow-y: scroll;
    }
}
